# __Creation of the JupyterLite notebook__

## __Introduction__

### __Enumeration of the different languages in data science__

* *PYTHON*
* *R*
* *SQL*
* *SCALA*
* *JAVA*
* *C++*
* *JULIA*
* *JAVASCRIPT*

### Enumeration of data science libraries

* *pandas*
* *Numpy*
* *Scipy*
* *Matplotlib*
* *Seaborn*
* *Plotly*
* *Bokeh*
* *Scikit-learn*
* *TensorFlow*
* *keras*
* *PyTorch*
* *XGBoost*
* *NLTK*
* *spaCy*
* *dplyr*
* *tidyr*
* *readr*
* *data.table*
* *ggplot2*
* *JuliaDB*
* *Apache Spark*
* *Hadoop*

### Data science table tools

| Category       |                          Main tools                              |
|----------------|------------------------------------------------------------------|
| Data Managment | MySQL, PostgreSQL, MongoDB, IBM Db2, Oracle, Microsoft SQL Server| 
| Data Integration & transformation | Apache Airflow, Apache NiFi, Apache Kafka, Talend, Node-RED, IBM DataStage| 
| Data Visualization | Tableau, Power BI, Kibana, Apache Superset, PixieDust, ggplot2, Matplotlib| 
| Model Building (ML/AI)  | Scikit-learn, TensorFlow, Keras, PyTorch, SPSS Modeler, SAS Enterprise Miner|
| Model Deployment | MLflow, TensorFlow Serving, Seldon, Kubernetes, Red Hat OpenShift, IBM Watson Machine Learning|
| Model Monitoring & Evaluation| ModelDB, Prometheus, Fiddler, IBM AI Fairness 360, AIX 360, Adversarial Robustness 360|
| Data Asset Management| Apache Atlas, Informatica, Kylo, ODPi Egeria|
| Source Code Management  | Git, GitHub, GitLab, Bitbucket|
| Interactive Environments | Jupyter Notebook, JupyterLab, RStudio, Google Colab, Watson Studio|

### Arithmetic Operations

| Operation |  Symbol | Example | Result |
|-----------|---------|---------|--------|
|Addition|"+"|"6 + 2"| "8" |
|Subtraction|"-"|"6 - 2"| "4" |
|Multiplication|"*"|"6 * 2"| "12" |
|Division|"/"|"6 / 2"| "3" |
|Intger division|"//"|"9 // 2"| "4" |
|Modulo|"%"|"9 % 2"| "1" |
|Exponentiation|"**"|"6 ** 2"| "36" |

In [6]:
# Multiplication

mult = 5 * 3

# Addition

add = mult + 3

print("Multiplication =", mult, "and addition =", add)

Multiplication = 15 and addition = 18

In [23]:
# For minutes to houres
def miuntes_to_houres(mint):
    hour = 60
    result = mint / hour
    return print("It's", result, "houres")

In [25]:
miuntes_to_houres(69)

It's 1.15 houres

## Alan Blanca